@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@model Core_Web_Razor_WiproDemo.Model.Employee
@{
}

<h1> Employee details </h1>

<p>Employee ID: @Model.id</p>

<p>Employee Name: @Model.name</p>

<p>Employee email: @Model.email</p>

<p>Employee phone: @Model.phone</p>
