@page
@model Core_Web_Razor_WiproDemo.Pages.static_files_demoModel
@{
}
<h1> serving the static files </h1>

<hr />


<p class="wipro"">
	this is a demo paragraph which explains about how to use static implementation in ASP.NET Core Razor Pages.
</p>

<button onclick="showAlert()">click here </button>

<button type="button" class="btn">Basic</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-link">Link</button>